documentation/build/**
documentation/source/_autosummary
*.pyc
__pycache__
*.glade~
*.glade#
build/**
# dist/*
# *.egg-info/*
.vscode
*.log
.fuse_hidden*
packaging*/rebornos*welcome*
!packaging*/rebornos*welcome*/PKGBUILD