[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
numpy = "*"
vext = "*"
pysetting = {editable = true, git = "https://github.com/shivanandvp/pysetting.git"}
pyrunning = {editable = true, git = "https://github.com/shivanandvp/pyrunning.git"}

[dev-packages]
pipenv = "*"
setuptools = "*"
build = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"

[requires]
python_version = "3.9"
